.font1{
	font-family: 'Mansalva', cursive;
}


table {
	border-collapse:collapse;
}

td {
	background-color: pink;
	border: 3px solid white;
	font-size:80px;
	color: black;
	border-radius: 30%;
}

#tictactoe{
	align-self: center;
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

#turn{
	font-size: 30px;
}


#tictitle > h2{
	text-align: center;
	font-size: 50px;
	margin-top: 80px;
}